<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="api_endpoints.endpointActions"/> 
      <class name="api_tests.userTests"/> -->
      
      <class name = "api_endpoints.endpointActions_usingPropertyFile"/>
      <class name= "api_tests.userTests_forPropertyfile"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
